*.DS_Store
*.log
*.mo
*.pyc
*.sqlite
/.*
!.coveragerc
!.gitignore
!.mailmap
!.testr.conf
!.stestr.conf
!.zuul.yaml
.*.sw?
AUTHORS
Authors
build/*
build-stamp
CA/
ChangeLog
cinder.egg-info
cover/*
covhtml
dist/*
etc/cinder/cinder.conf.sample
etc/cinder/policy.yaml.sample
instances
keeper
keys
local_settings.py
mypy-report
tools/lintstack.head.py
tools/pylint_exceptions
tags

# Files created by Sphinx build
doc/build
doc/source/_static/cinder.conf.sample
doc/source/_static/cinder.policy.yaml.sample
doc/source/drivers.rst

# Files created for API reference
api-ref/build

# Files created by releasenotes build
releasenotes/build
contrib/block-box/.db_data
RELEASENOTES.rst
releasenotes/notes/reno.cache

# Files created by alembic
cinder.db
