*.DS_Store
*.log
*.mo
*.pyc
*.sqlite
*.swp
.cinder-venv
.coverage
.tox
.venv
AUTHORS
Authors
build/*
build-stamp
CA/
ChangeLog
cinder.egg-info
cover/*
covhtml
dist/*
instances
keeper
keys
local_settings.py
tools/conf/cinder.conf*
