# Install bounded pep8/pyflakes first, then let flake8 install
hacking>=0.8.0,<0.9
coverage>=3.6
discover
fixtures>=0.3.14
hp3parclient>=2.0,<3.0
mock>=1.0
mox>=0.5.3
MySQL-python
psycopg2
sphinx>=1.1.2,<1.2
python-subunit
testtools>=0.9.32
testrepository>=0.0.17
oslo.sphinx
