# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Install bounded pep8/pyflakes first, then let flake8 install
hacking>=3.0,<3.1.0 # Apache-2.0
flake8-import-order # LGPLv3
flake8-logging-format>=0.6.0 # Apache-2.0

stestr!=2.3.0,>=2.2.0 # Apache-2.0
coverage!=4.4,>=4.0 # Apache-2.0
ddt>=1.2.1 # MIT
fixtures>=3.0.0 # Apache-2.0/BSD
oslotest>=3.2.0 # Apache-2.0
pycodestyle==2.5.0 # MIT License
PyMySQL>=0.7.6 # MIT License
psycopg2>=2.7 # LGPL/ZPL
SQLAlchemy-Utils>=0.36.1 # BSD License
testtools>=2.2.0 # MIT
oslo.versionedobjects[fixtures]>=1.31.2 # Apache-2.0

# bandit is not included in upper-constraints,
# so we need to pin it here to a known working version
bandit==1.6.0 # Apache-2.0
doc8>=0.6.0 # Apache-2.0
reno>=2.5.0 # Apache-2.0
Pygments>=2.2.0 # BSD license
