<?xml version='1.0' encoding='UTF-8'?>
<EMC>
<!--StorageType is a thin pool name-->
<StorageType>gold</StorageType>
<!--MaskingView is needed only for VMAX/VMAXe-->
<MaskingView>openstack</MaskingView>
<!--Credentials of ECOM packaged with SMI-S-->
<EcomServerIp>x.x.x.x</EcomServerIp>
<EcomServerPort>xxxx</EcomServerPort>
<EcomUserName>xxxxxxxx</EcomUserName>
<EcomPassword>xxxxxxxx</EcomPassword>
</EMC>
